<%- include('../partials/header') %>

    <main class="main" id="homeMain">
        <div class="container">
            <figure class="figure home-figure">
                <img src="http://via.placeholder.com/250x350" alt="image of <%= heroName %>" class="img-fluid image figure-img home-img d-block mx-auto" />
                <figcaption class="figure-caption"></figcaption>
                    <%= message %>
                </figcaption>
            </figure>
            
        </div>
    </main>

<%- include('../partials/footer') %>
